body, html {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
  }
  
  /* Custom Font */
  @font-face {
      font-family: 'Hyperwave';
      src: url('assets/hyperwave-one.ttf') format('truetype');
  }
  
  canvas {
    display: block;
    margin: 0 auto;
    background: #000;
  }
  
  /* Overlays for welcome and over screens */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 720px;
    margin: 0 auto;
    display: none;
  }
  
  .full-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .action-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    background: #e06666;
    border: none;
    color: #fff;
    font-size: 24px;
    font-family: 'Hyperwave', sans-serif;
    cursor: pointer;
    top: 65%;
  }
  
  #welcome-screen .action-button {
    top: 60%;
  }
  
  .info-text {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10%;
    color: #fff;
    font-family: 'Hyperwave', sans-serif;
    font-size: 28px;
  }
  
  #over-screen .overlay-content {
    position: absolute;
    top: 0; left:0;
    width: 100%;
    height: 100%;
  }
  
  .score-text {
    position: absolute;
    font-family: 'Hyperwave', sans-serif;
    color: #fff;
    font-size: 100px;
    left: 50%;
    top: 66%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  